*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
}

a,
a:visited{
    color: #adadadfa;
    text-decoration: none;
    transition: color 0.75s ease-in-out;
}
a:hover{
    color: black;
}
