header {
    height: 95px;
    color: #2b5d98;
    
}
header a, a:visited{
    text-decoration: none;
    color: #2b5d98;
    transition: color 0.75s ease-in-out;
}

header a:hover{
    color: #83b6f1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 2rem;
    box-shadow: 0 4px 4px -2px rgba(128, 128, 128, 0.692);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    background-image: url("../images/header.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 40%;
}
.header__iconTwo{
    display: none;
}
.header__iconOne{
    display: none;
}
.header__left {
    display: flex;
}

.header__left>div {
    margin-left: 10px;
    font-weight: 600;
}

.header__right {
    font-size: 1.5rem;
    width: 35%;
}

.header__right>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

@media screen and (max-width: 865px){
    .header__right > ul{
        justify-content:space-evenly;
    }
    .header__iconOne,
    .header__iconTwo{
        display: block;
        font-size: 2.5rem;
    }

    .header__columnOne,
    .header__columnTwo{
        display: none;
    }
}
@media screen and (max-width: 865px){
    .header__container{
        background-image: url("../images/rainbow.png");
        background-size: contain;
        background-position: 60%;
        background-color: #F0F8FF;
    }

}
@media screen and (max-width: 500px){
    .header__left > div{
        font-size: 1.5rem;
    }
}