main blockquote{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
/* Reklamy */
.main__top{
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 4px 4px -2px rgba(128, 128, 128, 0.692);
    background: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow: 2px 2px 2px #ffffff;
}
.main__top > h1{
    padding-top: 40px;
    padding-bottom: 10px;
}
.main__top > div{
    font-size: 1.3rem;
    font-weight: 500;
}
.main__banners{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__banners > div{
    margin-bottom: 10px;
}

/* Komentarze */
.main__bottom{
    background-color: #F0F8FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 2px #fafafafa;
    border-top: 2px solid #808080;
    padding-bottom: 10px;
}    
.main__bottom > h2{
    margin: 20px 30px
}
.main__bottom > div{
    font-size: 1.3rem;
    padding-bottom: 50px;
}
.main__formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__formContainer > img{
    width: 200px;
    object-fit: contain;
}
.main__formContainer > form{
    width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.main__comments{
    padding: 10px 20px;
    background-color: #2b5d98;
    border-radius: 10px;
}
.main__comment{
    margin-bottom: 10px;
    background-color: #fafafafa;
    padding: 20px 30px;
    border-radius: 10px;
    width: 90vw;;
}
.main__comment > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main__commentName,
.main__commentDate{
    font-weight: 600;
    font-size: 1.5rem;
}
.main__commentCnt{
   text-align: left;
}
/* ***** */
.form-label{
    font-weight: 600;
}

/* .green-mail{
    width:750px;
} */

@media screen and (max-width: 750px){
.green-mail,
.advertising-center{
    width:95%;
}

}
@media screen and (max-width:470px){
    .main__formContainer > img{
        display: none;
    }
    .main__formContainer > form{
        width: 95%;
    }
    .main__commentName,
    .main__commentDate{
        font-size: 1.2rem;
    }
}